{% extends "base.html" %}
{% block title %}shorten URL{% endblock %}

{% block content %}
<form action="#", method="post">
    <label for="url"><b>Enter an https:// URL:</b></label>

    <input type="url" name="nm" id="url"
       placeholder="https://example.com"
       pattern="https://.*" size="70"
       required>
    <br>
    <input type="submit" value="submit" class="btn btn-primary">
</form>

<div class="box" style="margin-top: 20px; text-align: center; position: relative; z-index: 2;">
    
        <button type="button" 
                class="btn btn-info"
                onclick="window.open('{{ url_for('display_all') }}', '_blank');">
                All Urls
        </button>
    </a>
</div>
{% endblock %}